%form{ :method => :post}
	%input{:type => :hidden, :name=>"_method", :value => :put} 
	%fieldset
		%legend
			Set your admin password
		%p
			Here, you can set your admin password. This is the master key to this software installation. Try
			to set it to something secure and keep it a secret. Your password must be at least <strong>6 characters</strong> long.
		%div
			%label
				Email
				%input{ :type => :text, :name => :email, :value => Pamphlet.settings[:admin_email], :disabled => true }
		%div
			%label
				Password
				%input{ :type => :password, :name => :password}
		%div
			%label
				Password
				%input{ :type => :password, :name => :password_confirmation}
			%small
				(twice for confirmation)
		%input{:type => :submit, :value => "Activate" }