%p
	%a{ :href => "/edit" } /edit
%form{:method =>:post, :action => "/settings"}
	%fieldset
		%legend
			Settings
		%ol
			- Pamphlet.settings.editable.each do |setting, value|
				%li
					%label
						= humanize_setting_name setting
						%input{ :type => :text, :name=>"settings[#{setting}]", :value => "#{value}" }
		%input{ :type => :submit, :value => "Update" }
		