%p
	%a{ :href => "/edit" }> /edit
	%a{ :href => "/templates" } /templates
%form{:method =>:post, :action => "/templates/#{@template.id unless @template.new_record?}"}
	- unless @template.new_record?
		%input{ :type => :hidden, :name => "_method", :value => :put }
	%fieldset
		%legend Edit template
		%label 
			Name
			%input{:type => :text, :name => "template[name]", :value => "#{@template.name}"}
		%label 
			Description
			%input{:type => :text, :name => "template[description]", :value => "#{@template.description}"}
		%label 
			Code
			%textarea{:name => "template[code]"}
				= @template.code