%p
	%a{ :href => "/edit" } <- /edit
%h1 Templates
%ol
	- @templates.each do |template|
		%li
			%a{:href => "/templates/#{template.id}/edit"}
				= template.name
%a{ :href => "/templates/new" } New template